/* Put your CSS here */
html, body {
    margin: 20px;
    background: #eee url('../images/noisebg.png');
}
body{
	padding-top: 40px;
}

.active{
	font-weight: bold;
}

.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
}
.loader
{
    display: none;
    width:200px;
    height: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:999999;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #38abda;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

span.error {
    color: #FB3A3A;
    margin-left: 5px;
    padding: 0;
    text-align: left;
    width: 220px;
}
#searchForm label.error { display:none !important;; }