<!DOCTYPE html>
<html  >
<head>
<meta charset="utf-8">
<title>Outbrain post web site demo</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-tagsinput.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>
<body >

  <script type="text/x-handlebars">

    {{bs-notifications style="z-index: 1000; position: fixed; width: 100%; left: 0; right: 200px; margin-left: 0; margin-right: auto; margin-top:-23px;"}}
    {{view App.AnItemView}}
    {{view App.SearchValidationsView}}
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><img width="20px" style="margin-bottom :4px;" padding="2px" src="images/outbrain.png"/> Outbrain </a>

        </div>
        <ul class="nav navbar-nav pull-right">

            <li>{{#link-to 'newPost'}}<span class="glyphicon glyphicon-plus"></span> Add Post{{/link-to}}</li>
            <li style="margin-top:15px;margin-right:10px">{{#if isLogged}} {{userName}} {{/if}}</li>
            <li>{{#if isLogged}}
                  <div class='body'>{{body}}</div>
                  <button class="btn-link btn-md" style="margin-top:10px" {{action 'logout'}}>Logout</button>
                {{/if}}
            </li>
             <li>
                <form id="searchForm">
                <span class="input-group" style="display:inline-flex;margin-right:60px;margin-top:10px">
                     {{input type="text" name="query" class="form-control" value=search placeholder="Search posts" }}
                     <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit" {{action 'search'}}>Search</button>
                     </span>
                </span><!-- /input-group -->
                </form>
            </li>
          </ul>
      </div>
    </nav>

    <div id="main" class="container">
      {{outlet}}
    </div>

    <br/>
    <div id="footer">
    <center>
    <span class="copyright">© 2014 Outbrain ltd.</span>
    </center>
  </div>

  <div class="loader">
   <center>
       <img class="loading-image spinner" src="../images/loading.png" alt="loading..">
   </center>
</div>
  </script>

  <script type="text/x-handlebars" id="index">
    <div class="row" style="margin-top:25px">
     <div class="col-md-8">
        {{outlet}}
      </div>
      <div class="col-md-4">
        <table class='table'>
          <thead>
            <tr><th>Recent Posts</th></tr>
          </thead>
          {{#each controller}}
            <tr><td>
            {{#link-to 'post' this class='post'}}
              {{subject}} -  by {{userName}} <br/>
              <span align="center">
              <i class="fa fa-calendar"></i>  {{format-date createdAt}}
              </span>

            {{/link-to}}
            </td></tr>

          {{else}}
            <div>No posts posted yet.</div>
          {{/each}}
        </table>
      </div>

    </div>
  </script>

  <script type="text/x-handlebars" id="post">
    <h1>{{subject}}</h1>
    <h3> by {{userName}} <small class="muted">{{format-date createdAt}}</small></h3>
    {{#each tagnames}}
        
        <span class="label label-primary">{{this}}</span>
        
      {{/each}}
    <hr>
    <p class="lead">
      {{post}}
    </p>
    
  </script>

  <script type="text/x-handlebars" id="newPost">
    {{view App.NewPostValidationsView}}
    <br/>
    <form class="form-horizontal" role="form" id="newPostForm">
      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
          {{input type="text" name="subject" class="form-control" value=subject placeholder="Subject of the post" }}
        </div>
      </div>
      <div class="form-group">
        <label for="excerpt" class="col-sm-2 control-label">Post</label>
        <div class="col-sm-10">
          {{textarea rows="10" value=post name="post" class="form-control"  placeholder="Contents of the post"}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" {{action 'save'}}>Submit Post</button>
        </div>
      </div>
  </form>
  </script>

  <script type="text/x-handlebars" id="login">
    {{view App.LoginValidationsView}}
    <br/>
    <form class="form-horizontal" role="form" id="loginForm">
      <div class="form-group">
        <div class="col-sm-10">
          {{input type="text" name="email" class="form-control" value=email placeholder="Email" }}
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-10">
          {{input type="password" name="password" class="form-control" value=credentials placeholder="Password" }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
          <button type="submit" class="btn btn-primary" {{action 'login'}}>Submit</button>
           {{#link-to 'signup'}}<button type="submit" class="btn btn-warning">Signup</button>{{/link-to}}

        </div>

      </div>
  </form>
  </script>

  <script type="text/x-handlebars" id="signup">
    {{view App.SignupValidationsView}}

    <br/>
    <form class="form-horizontal" role="form" id="signupForm">
      <div class="form-group">
        <div class="col-sm-10">
          {{input type="text" name="email" class="form-control" value=email placeholder="Enter valid email" }}
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-10">
          {{input type="text" name="name" class="form-control" value=name placeholder="Enter full name" }}
        </div>
      </div>
       <div class="form-group">
        <div class="col-sm-10">
          {{input type="password" name="password" class="form-control" value=credentials placeholder="enter password" }}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-5">
           <button type="submit" class="btn btn-primary" {{action 'signup'}}>Signup</button>
        </div>

      </div>
  </form>
  </script>

  <script type="text/x-handlebars" id="search">
    <div class="row" style="margin-top:0px">

      <div class="col-md-8">
        <table class='table'>
          <thead>
            <tr><th>{{content.length}} posts returned </th></tr>
          </thead>
          {{#each controller}}
            <tr><td>
            {{#link-to 'post' this class='post'}}
              {{subject}} -  by {{userName}} <br/>
              <span align="center">
              <i class="fa fa-calendar"></i>  {{format-date createdAt}}
              </span>

            {{/link-to}}
            </td></tr>
          {{else}}
          <tr><td>
            <span>No results found.</span>
            </td></tr>
          {{/each}}
        </table>
      </div>

    </div>
  </script>

  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/handlebars-1.0.0.js"></script>
  <script src="js/libs/ember-1.1.2.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/libs/localstorage_adapter.js"></script>
  <script src="js/libs/local-cache.js"></script>
  <script src="js/libs/moment.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/libs/bootstrap-tagsinput.js"></script>
  <script src="js/libs/sha1.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/bs-core.js"></script>
  <script src="js/libs/bs-notifications.js"></script>
  <script src="js/libs/jquery.validate.js"></script>


</body>
</html>
